{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Subscriptions" %}{% endblock %}

{% block content %}
<!-- Jumbotron section -->

 <div class="container jumbotron-section">
   <div class="jumbotron">
     <h1><center> HELLO WORLD </center></h1>
       <div><center>This is a modified jumbotron that occupies the entire horizontal space of its parent.</center></div>
       </div>
   </div>

 <div class="container">
   <div class="card-deck mb-2 text-center">
     <div class="card mb-4 shadow-sm">
       <div class="card-header">
         <h4 class="my-0 font-weight-normal">Platinum</h4>
       </div>
       <div class="card-body">
         <ul class="list-unstyled mt-3 mb-4">
           <li>50 Resume to Download</li>
           <li>Unlimited Access to Our Blog</li>
           <li>Price &#8377 50</li>
         </ul>
           <a href="{% url 'subscription:buy-subscription' amt=50 %}"><button type="button" class="btn btn-lg btn-primary">Subscribe now</button></a>
       </div>
     </div>
     <div class="card mb-4 shadow-sm">
       <div class="card-header">
         <h4 class="my-0 font-weight-normal">Gold</h4>
       </div>
       <div class="card-body">
         <ul class="list-unstyled mt-3 mb-4">
           <li>100 Resume to Download</li>
           <li>Unlimited Access to Our Blog</li>
           <li>Price &#8377 100</li>
         </ul>
         <a href="{% url 'subscription:buy-subscription' amt=100 %}"><button type="button" class="btn btn-lg btn-primary">Subscribe now</button></a>
       </div>
      </div>
   </div>
   </div>

{% endblock %}
