{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}

<style>
    body {
    height: 100%;
    color: black;
    font-family: 'Roboto', sans-serif;
    /* background-image: url(https://supaulone.s3.amazonaws.com/public/fllindiabackground.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
    }

.text-muted {
    color: #ffffff!important;
}

.dash-link {
  font-size: 21px;
  color: black;
}

.dash-link:hover {
  text-decoration: none;
}

.sup {
  vertical-align: super;
}

.span1 {
  display: inline-block;
  margin-left: -8px;
  font-size: 18px;
  vertical-align: super;
}

.span2 {
  display: inline-block;
  margin-left: -14px;
  font-size: 18px;
  vertical-align: super;
}


</style>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 homeintro-section">
        <h2>Welcome to FIRST
          <p class="span1"><span class="sup">&reg;</span> </p>
          LEGO
          <p class="span2"><span class="sup">&reg;</span></p>
          League South India</h2>
        <div class="log-sign-in">
          {% if request.user.is_authenticated %}
            <div class="row">
              <div class="col-md-4 offset-md-4">
<a class="dash-link" href="{% url 'dashboard:coach-dashboard' %}">Go to Dashboard</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

    {% else %}
      <div class="container">
        <div class="login-head">
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <h3>Log In</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-sm btn-block btn-primary" type="submit" value="{% trans 'Log in' %}" />
                <input type="hidden" name="next" class="btn btn-primary" value="{{ next }}" />

                <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
                <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
            </form>

          </div>
        </div>

      </div>
    {% endif %}

{% endblock %}
