{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<style>
  .dashboard-wrapper {
    margin-left: 0px !important;
  }
</style>


  <div class="container">
    {% if validlink %}
      <div class="login-head">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <p>{% trans "Enter your new password below to reset your password:" %}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <form method="post" action="">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Set Password' %}" />
          </form>
        </div>
      </div>
    {% else %}
      <div class="login-head">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
          </div>
        </div>
      </div>

    {% endif %}
  </div>
{% endblock %}


{# This is used by django.contrib.auth #}
