{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block content %}
<style>
  .dashboard-wrapper {
    margin-left: 0px !important;
  }
</style>

  <div class="container">
    <div class="login-head">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <h6>
            {% blocktrans %}
            We have sent an email to {{ email }} with further instructions.
            {% endblocktrans %}
          </h6>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
