{% load staticfiles %}

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
	       <h5>LOGO</h5>

        <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
		<a href=" "><i class="fab fa-facebook"></i></a>
		<a href=" " align="right"><i class="fab fa-twitter"></i></a>
		<a href=" " align="right"><i class="fab fa-linkedin-in"></i></a>

		<small class="d-block mb-3 text-muted">2020 Copyright. Human Focus Training Pvt. Ltd. All right reserved</small>

      </div>
      <div class="col-6 col-md">
        <h5>Services</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Outsourceing</a></li>
          <li><a class="text-muted" href="#">Consulting</a></li>

        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Products</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">School Bag</a></li>
          <li><a class="text-muted" href="#">Resumes</a></li>
          <li><a class="text-muted" href="#">Stationaries</a></li>

        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Organization</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="about.html">About</a></li>
          <li><a class="text-muted" href="blog.html">Blog</a></li>
          <li><a class="text-muted" href="contact.html">Contact</a></li>
          <li><a class="text-muted" href="#">FAQ</a></li>
        </ul>
      </div>

    </div>
  </footer>
  <!-- Footer section -->
