{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Add Profile" %}{% endblock %}

{% block content %}

  <div class="container cards-section">
    <div class="logout" style="">
      <h2 align="center">Update Profile</h2><br>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form class="" action="{% url 'dashboard:add-profile' user.pk %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
