{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row pt-4">
      <div class="col-lg-8-6 offset-lg-2">
        <!-- Group list -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Contact Number</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{user_data.first_name}} {{user_data.last_name}}</td>
              <td>{{user_data.email}}</td>
              <td>{{user_data.phone}}</td>
              <td><a href="{% url 'dashboard:edit-profile' user_data.id %}">Edit</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
